* {box-sizing: border-box;}
.wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 1.3vw;
  grid-auto-rows: 1fr;
  padding-left: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-right: 2em;
  margin: auto;
  background-image: src="/static/img/main_background.jpg";
}

.display_box {
  border: 3px solid;
  border-radius: 16px;
}

.sensor_div {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);

}

.color_normal {
  color: #30aa55;
}

.color_warning {
  color: rgb(236,209,83);
}

.color_critical {
  color: #ff4949;
}

.color_low {
  color: #2ab1ff; 
}

.color_warning {
  color: rgb(236,209,83);
}

.normal {
  color: #30aa55;
  border-color: rgba(48,170,85,.4);
}

.warning {
  background-color: rgba(236,209,83,.1);
  border-color: rgba(236,209,83,.6);
  color: rgb(236,209,83);
}

.critical {
  background-color: rgba(255,73,73,.12);
  color: #ff4949;
  border-color: rgba(255,73,73);
}

.low {
  border: 3px solid rgba(42,177,255,.8);
  background-color: rgba(42,177,255,.1);
  border-radius: 16px;
  color: #2ab1ff;
}

.temp_internal {
  width: 100%;
  height: auto;
  font-size: 1vw;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(255,255,255,.2);
  line-height: 2px;
}

.name {
  width: 100%;
  height: auto;
  font-size: 2vw;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  padding-top: 1px;
  color: rgba(255,255,255,.7);
}

.sensor {
  width: 33.2%;
  font-family: helvetica;
  font-size: 10px;
  color: #30aa55;
  float: left;
  position: relative;

}

.imagetext {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  text-align: center;
  padding-left: 2%;
}

.voltagetext {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  text-align: center;
    
}

.normaltext {
  color: #fc00fc;
}

body {
  background-color: black;
  height: 100%;
}

html {
  height: 100%;
}



.bg { 
  /* The image used */
  background-image: url("/static/img/main_background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: inherit;
  color: #30aa55;
}
.sensor_div {
  display: grid;
  align-items: center;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 7px 4px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%; 
  margin-left: -80px;
  border: 3px solid rgba(255,255,255,.4);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

span {
  font-size: 16px;
  font-weight: 600;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}  

@media (max-width: 2600px) {
  .wrapper {
    grid-template-columns: repeat(10, 1fr);
  }
  .temp_internal {
    font-size: 1.1vw;
  }
}
@media (max-width: 2400px) {
  .wrapper {
    grid-template-columns: repeat(9, 1fr);
  }
  .temp_internal {
    font-size: 1.1vw;
  }
}
@media (max-width: 2200px) {
  .wrapper {
    grid-template-columns: repeat(8, 1fr);
  }
  .temp_internal {
    font-size: 1.1vw;
  }
}
  
/* 8 columns */
@media (max-width: 1280px) {
  .wrapper {
    grid-template-columns: repeat(8, 1fr);
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    margin: 0;
  }

  .temp_internal {
    font-size: .9vw;
    padding-top: 2px;
  }

  .name {
    margin: auto;
    font-size: .85vw;
    line-height: 2px;
  }

  .voltagetext {
    font-size: .9vw;
  }

  .imagetext {
    font-size: 1.3vw;
  }

  .display_box {
    border: 2px solid;
    margin: 0%;
  }

  .normal {
    color: #30aa55;
    border-color: rgba(48,170,85,.4);
  }

  .warning {
    background-color: rgba(236,209,83,.1);
    border-color: rgba(236,209,83,.6);
    color: rgb(236,209,83);
  }
}

/* 7 columms */
@media (max-width: 1200px) {
}


@media (max-width: 1800px) {
  .wrapper {
    grid-template-columns: repeat(7, 1fr);
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    margin: 0;
  }

  .temp_internal {
    font-size: 1vw;
    padding-top: 2px;
  }

  .name {
    margin: auto;
    font-size: 1vw;
    line-height: 2px;
  }

  .voltagetext {
    font-size: 1vw;
  }

  .imagetext {
    font-size: 1.5vw;
  }

  .display_box {
    border: 2px solid;
    margin: 0%;
  }

  .normal {
    color: #30aa55;
    border-color: rgba(48,170,85,.4);
  }

  .warning {
    background-color: rgba(236,209,83,.1);
    border-color: rgba(236,209,83,.6);
    color: rgb(236,209,83);
  }
}

/* 6 columns */
@media (max-width: 1125px) {
  .wrapper {
    grid-template-columns: repeat(6, 1fr);
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    margin: 0;
  }

  .temp_internal {
    font-size: 1.2vw;
    padding-top: 2px;
  }

  .name {
    margin: auto;
    font-size: 1.2vw;
    line-height: 2px;
  }

  .voltagetext {
    font-size: 1.2vw;
  }

  .imagetext {
    font-size: 1.7vw;
  }

  .display_box {
    border: 2px solid;
    margin: 1%;
  }

  .normal {
    color: #30aa55;
    border-color: rgba(48,170,85,.4);
  }

  .warning {
    background-color: rgba(236,209,83,.1);
    border-color: rgba(236,209,83,.6);
    color: rgb(236,209,83);
  }
}

/* 5 columns */
@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    margin: 0;
  }

  .temp_internal {
    font-size: 1.4vw;
    padding-top: 2px;
  }

  .name {
    margin: auto;
    font-size: 1.4vw;
    line-height: 2px;
  }

  .voltagetext {
    font-size: 1.5vw;
  }

  .imagetext {
    font-size: 2vw;
  }

  .display_box {
    border: 2px solid;
    margin: 1%;
  }

  .normal {
    color: #30aa55;
    border-color: rgba(48,170,85,.4);
  }

  .warning {
    background-color: rgba(236,209,83,.1);
    border-color: rgba(236,209,83,.6);
    color: rgb(236,209,83);
  }
}

/* 4 columns */
@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    margin: 0;
  }

  .temp_internal {
    font-size: 1.8vw;
    padding-top: 4px;
  }

  .name {
    margin: auto;
    font-size: 1.7vw;
    line-height: 2px;
  }

  .voltagetext {
    font-size: 1.8vw;
  }

  .imagetext {
    font-size: 2.5vw;
  }

  .display_box {
    border: 2px solid;
    margin: 1%;
  }

  .normal {
    color: #30aa55;
    border-color: rgba(48,170,85,.4);
  }

  .warning {
    background-color: rgba(236,209,83,.1);
    border-color: rgba(236,209,83,.6);
    color: rgb(236,209,83);
  }
}

/* 3 columns */
@media (max-width: 650px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    margin: 0;
  }

  .temp_internal {
    font-size: 2.3vw;
  }

  .name {
    margin: auto;
    font-size: 2.2vw;
    line-height: 2px;
  }

  .voltagetext {
    font-size: 2.3vw;
  }

  .imagetext {
    font-size: 3.5vw;
  }

  .display_box {
    border: 2px solid;
    margin: 3%;
  }

  .normal {
    color: #30aa55;
    border-color: rgba(48,170,85,.4);
  }

  .warning {
    background-color: rgba(236,209,83,.1);
    border-color: rgba(236,209,83,.6);
    color: rgb(236,209,83);
  }
}

/* 2 columns */
@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    margin: 0;
  }

  .temp_internal {
    font-size: 3vw;
  }

  .name {
    margin: auto;
    font-size: 3.3vw;
    line-height: 2px;
  }

  .voltagetext {
    font-size: 3.5vw;
  }

  .imagetext {
    font-size: 5vw;
  }

  .display_box {
    border: 2px solid;
    margin: 3%;
  }

  .normal {
    color: #30aa55;
    border-color: rgba(48,170,85,.4);
  }

  .warning {
    background-color: rgba(236,209,83,.1);
    border-color: rgba(236,209,83,.6);
    color: rgb(236,209,83);
  }
  
}