* {box-sizing: border-box;}
.wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 1.3vw;
  grid-auto-rows: 1fr;
  padding-left: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-right: 3em;
  margin: auto;
  background-image: src="/static/img/main_background.jpg";
}

.display_box {
  border: 3px solid;
  border-radius: 16px;
  overflow: hidden;
}

.sensor_div {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.color_normal {
  color: #30aa55;
}

.color_warning {
  color: rgb(236,209,83);
}

.color_critical {
  color: #ff4949;
}

.color_low {
  color: #2ab1ff; 
}

.color_warning {
  color: rgb(236,209,83);
}

.normal {
  color: #30aa55;
  border-color: rgba(48,170,85,.4);
}

.warning {
  background-color: rgba(236,209,83,.1);
  border-color: rgba(236,209,83,.6);
  color: rgb(236,209,83);
}

.critical {
  background-color: rgba(255,73,73,.12);
  color: #ff4949;
  border-color: rgba(255,73,73);
}

.low {
  border: 3px solid rgba(42,177,255,.8);
  background-color: rgba(42,177,255,.1);
  border-radius: 16px;
  color: #2ab1ff;
}

.temp_internal {
  width: 100%;
  height: auto;
  font-size: 1vw;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(255,255,255,.2);
  line-height: 2px;
}

.name {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  padding-top: 1px;
  color: rgba(255,255,255,.7);
}

.sensor {
  width: 64px;
  height: 64px;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: helvetica;
  font-size: 10px;
  color: #30aa55;
}

.sensor_warning {
  width: 64px;
  height: 64px;
  margin: auto;
  position: relative;
  float: left;
  text-align: center;
  font-family: helvetica;
  font-size: 10px;
}

.sensor_critical {
  width: 64px;
  height: 64px;
  margin: auto;
  position: relative;
  float: left;
  text-align: center;
  font-family: helvetica;
  font-size: 10px;
}

.imagetext {
  position: absolute;
  margin: auto;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  padding-top: 14px;
  padding-left: 4px;
  font-size: 24px;
}

.voltagetext {
  position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    padding-top: 19px;
    padding-left: 0px;
    font-size: 16px;
}

.normaltext {
  color: #fc00fc;
}

body {
  background-color: black;
  height: 100%;
}

html {
  height: 100%;
}



.bg { 
  /* The image used */
  background-image: url("/static/img/main_background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: inherit;
  color: #30aa55;
}

<<<<<<< HEAD

@media (max-width: 2600px) {
  .wrapper {
    grid-template-columns: repeat(10, 1fr);
  }
  .temp_internal {
    font-size: 1.1vw;
  }
}
@media (max-width: 2400px) {
  .wrapper {
    grid-template-columns: repeat(9, 1fr);
  }
  .temp_internal {
    font-size: 1.1vw;
  }
}
@media (max-width: 2200px) {
  .wrapper {
    grid-template-columns: repeat(8, 1fr);
  }
  .temp_internal {
    font-size: 1.1vw;
  }
}
@media (max-width: 2000px) {
  .wrapper {
    grid-template-columns: repeat(8, 1fr);
  }
  .temp_internal {
    font-size: 1.1vw;
  }
}
@media (max-width: 1800px) {
  .wrapper {
    grid-template-columns: repeat(7, 1fr);
  }
  .temp_internal {
    font-size: 1.1vw;
  }
}
=======
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 7px 4px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%; 
  margin-left: -80px;
  border: 3px solid rgba(255,255,255,.4);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

span {
  font-size: 16px;
  font-weight: 600;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}  
  
>>>>>>> 15c53bbc22a8db0000b25da1657141218bb8ac5a
@media (max-width: 1800px) {
  .wrapper {
    grid-template-columns: repeat(7, 1fr);
  }
  .temp_internal {
    font-size: 1.1vw;
  }
}
@media (max-width: 1600px) {
  .wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
  .temp_internal {
    font-size: 1.1vw;
  }
}

@media (max-width: 1400px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
  .temp_internal {
    font-size: 1.2vw;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .temp_internal {
    font-size: 1.3vw;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .temp_internal {
    font-size: 1.6vw;
  }
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .temp_internal {
    font-size: 2.1vw;
  }
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .sensor {
    width: 44px;
    height: 64px;
  }
  .temp_internal {
    font-size: 3vw;
  }
}